<a href="https://colab.research.google.com/github/GuilhermeFogolin/Python-Dados-Machine-Learning/blob/main/conceitos_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introdução**

O objetivo desse projeto é de apresentar os comandos básicos de Python para aplicar em análise de dados.

In [ ]:
print ("Olá, mundo!")

In [ ]:
mensagem = 'Olá, mundo!'

In [ ]:
print (mensagem)

In [ ]:
mensagem

In [ ]:
nome = input ('Qual é o seu nome? ')

In [ ]:
print ('Meu nome é:',  nome)

In [ ]:
nome = input ('Qual é o seu nome? ')
print ('Meu nome é:',  nome)

# **Operadores Matemáticos**

In [ ]:
n1 = 10

In [ ]:
n2 = 5

In [ ]:
s = n1 + n2
print(s)

In [ ]:
s = s + n2
print (s)

In [ ]:
s += n2 # s = s + n2
print(s)

In [ ]:
sub = n1 - n2
sub

In [ ]:
mult = n1 * n2
mult

In [ ]:
div = n1 / n2
div

In [ ]:
pot = n1**n2
pot

In [ ]:
pot2 = pow (n1,n2)
pot2

In [ ]:
divi = n1 // n2
divi

In [ ]:
rest = n1 % n2
rest

# **Importações de bibliotecas (pacotes) e módulos**

In [ ]:
import numpy as np

https://numpy.org/devdocs/user/whatisnumpy.html

In [18]:
raiz_quadrada = sqrt (25)

NameError: name 'sqrt' is not defined

In [19]:
import math

https://docs.python.org/pt-br/3/library/math.html

In [20]:
n = 18

In [24]:
raiz = math.sqrt(n)
print ('A raiz quadrada de {} é igual a {:.2f}!'.format (n, raiz)) # Impressão com duas casas após a vírgula

A raiz quadrada de 18 é igual a 4.24!

In [25]:
print(raiz)

4.242640687119285

In [26]:
math.sqrt(18)

4.242640687119285

In [ ]:
print(f'A raiz quadrada de {n} é {raiz:.2f}') # Forma mais atual em Python para impressão

In [27]:
raiz2 = n ** 0.5 # Raiz quadrada com potência
print (raiz2)

4.242640687119285

In [28]:
print (f'{raiz2:.3f}') # Impressão com três casa decimais

4.243

In [29]:
print ('{:.3f}'.format(raiz2))

4.243

In [30]:
sqrt(36)

NameError: name 'sqrt' is not defined

In [31]:
from math import sqrt
raiz3 = sqrt(n)
print (f'{raiz3:.2f}')

4.24

In [32]:
sqrt(36)

6.0

In [33]:
from math import sqrt, factorial

In [35]:
fat = factorial(5)       # fatorial: 4! = 4.3.2 = 24
                         #           5! = 5.4.3.2 = 120
fat

120

In [ ]:
factorial(8)

In [36]:
fatorial_raiz = factorial(int(sqrt(16))) # Fatorial da raiz quadrade de 16 = 4
fatorial_raiz

24

In [37]:
fatorial_raiz = math.factorial(int(math.sqrt(16))) # Implementando os métodos com math.
fatorial_raiz

24

In [40]:
import random
num = random.randint (1,10)
print (num)

3

In [ ]:
random. # Validar módulos

https://docs.python.org/pt-br/3.7/library/random.html

In [43]:
from random import random, randint

In [41]:
random?

In [47]:
randint?

In [55]:
num2 = random()
num2

0.47080120454433505

In [74]:
randint(12,125)

17

# **Estrutura condicional**

if
else
elif

In [2]:
nota = 5

In [3]:
if nota >= 6:
    print('Aprovado!')
else:
    print('Reprovado!')

Reprovado!

In [4]:
if nota >= 6:
    print('Aprovado!')
elif nota >= 5 and nota< 6:
    print('Recuperação!')
else:
    print('Reprovado!')

Recuperação!

# **Estrutura de Repetição**

for
while

In [5]:
for c in range(0,4):
    print(c)

0
1
2
3

In [6]:
lista = [1, 2, 3, 4, 10]
for numero in lista: # Declarando mult para percorrer lista
  mult = numero * 2
  print(mult)

2
4
6
8
20

In [7]:
soma = 0
cont = 0
for c in range (1, 6): # 6 não entra no range
    num = int(input('Digite o {}o valor: '.format(c))) # 5 valores serão solicitados
    if num % 2 == 0: # Se resto igual a 0
        soma = soma + num
        cont = cont + 1
print('Você informou {} números pares e a soma deles é igual a: {}.'.format(cont, soma))

Digite o 1o valor: 2
Digite o 2o valor: 3
Digite o 3o valor: 4
Digite o 4o valor: 5
Digite o 5o valor: 6
Você informou 3 números pares e a soma deles é igual a: 12.

In [8]:
c = 1
while c <= 10: # Finaliza no 10.
    s = c + 10
    print(s)
    c = c + 1
print('Fim do programa...') # Está fora do while

11
12
13
14
15
16
17
18
19
20
Fim do programa...

# **Listas, Tuplas e Dicionários**

Listas [ ]
Tuplas ( )
Dicionários { }

**LISTAS**

In [9]:
num = [2, 5, 7, 9]

In [11]:
num[3] = 4   # No lugar do elemento na posição 3 (número 9) vai ser colocado o número 4

In [12]:
num

[2, 5, 7, 4]

In [14]:
num.append(8) # Inclui o número 8
num

[2, 5, 7, 4, 8, 8]

In [15]:
num.sort() # Coloca em ordem crescente
num

[2, 4, 5, 7, 8, 8]

In [16]:
num.insert(2, 0) # Adiciona o 0 na posição 2, mas não substitui
num

[2, 4, 0, 5, 7, 8, 8]

In [17]:
num.remove(7) # Remove o elemento 7
num

[2, 4, 0, 5, 8, 8]

In [18]:
num.pop(3) # Remove o elemento na posição 3
num

[2, 4, 0, 8, 8]

In [19]:
del(num[0:2]) # Deleta números em um determinado intervalo

In [20]:
num

[0, 8, 8]

**TUPLAS**

Tupla é imutável.

In [22]:
num2 = (2, 5, 7, 9) # Criando a tupla

In [23]:
num2[3] = 4 # Tentando alterar o valor

TypeError: 'tuple' object does not support item assignment

In [24]:
num2.append(8) # Tentando incluir o número 8
num2

AttributeError: 'tuple' object has no attribute 'append'

**DICIONÁRIOS**

In [25]:
pessoas = {'nome': 'Fogolin', 'sexo': 'masculino', 'idade': 20}
print (pessoas)

{'nome': 'Fogolin', 'sexo': 'masculino', 'idade': 20}

In [26]:
pessoas['altura'] = 1.81
print(pessoas)

{'nome': 'Fogolin', 'sexo': 'masculino', 'idade': 20, 'altura': 1.81}

In [ ]:
del pessoas['idade']
print(pessoas)

# **Funções**

In [29]:
def identificacao(nome, idade):
   print('Olá,', nome,'!', '\nVocê é jovem, tem apenas', idade, 'anos.')

In [28]:
identificacao('Fogolin', 20)

Olá, Fogolin !
Você é jovem, tem apenas 20 anos.

In [30]:
def maior (x, y):
  if x < y:
    print ('O maior número é:', y)
  elif x == y:
    print ('Os números são iguais!')
  else:
    print ('O maior número é:', x)

In [31]:
maior (11, 16)

O maior número é: 16

In [32]:
def pitagoras (cat1, cat2, hip):
  if hip == '?':
    hip = (cat1**2+cat2**2)**(1/2)
    print ('A hipotenusa é:', hip)
  elif cat1 == '?':
    cat1 = (hip**2-cat2**2)**(1/2)
    print ('O cateto é:', cat1)
  elif cat2 == '?':
    cat2 = (hip**2-cat1**2)**(1/2)
    print ('O cateto é:', cat2)

In [33]:
pitagoras (13, 5, '?')

A hipotenusa é: 13.92838827718412

## **Função lambda e map**

Forma simplificada de escrever funções

In [35]:
def area_quadrado (L):
  area = L**2
  print(area)

In [36]:
area_quadrado(4)

16

In [37]:
area_quadrado2 = lambda x: x**2

In [38]:
area_quadrado2(7)

49

In [39]:
area_retangulo = lambda b, h: b * h

In [40]:
area_retangulo(4,7)

28

In [42]:
# Uma vantagem é quando se utiliza juntamente com outros métodos
L = [4,5,6,7,11,9,10]
areas = list(map(lambda x: x**2, L))
print(areas)

[16, 25, 36, 49, 121, 81, 100]

# **List Comprehensions**

Otimiza a utilização de listas e diminui linhas de código

In [44]:
lista=[]
for valor in range(5):
  lista.append(valor+10)
print(lista)

[10, 11, 12, 13, 14]

In [45]:
lista = [valor+10 for valor in range(5)]
print(lista)

[10, 11, 12, 13, 14]

In [46]:
lista = []
for numero in range (1, 30):
  if numero % 4 == 0:
    lista.append(numero)
print(lista)

[4, 8, 12, 16, 20, 24, 28]

In [49]:
multiplos4 = [numero for numero in range(1, 30) if numero % 4 == 0]
print(multiplos4)

[4, 8, 12, 16, 20, 24, 28]

In [53]:
conceito = ['azul' if nota >= 6 else 'vermelha' for nota in range(1, 11)]
print(conceito)

['vermelha', 'vermelha', 'vermelha', 'vermelha', 'vermelha', 'azul', 'azul', 'azul', 'azul', 'azul']

# **Vetores (arrays) e matrizes**

Matriz
1    3    5    7
2    4    6    8
0    1    2    3

Vetor
5  10  15  20
ou
3
4
5
6

In [54]:
vetor = [2, 4, 5, 6]

In [55]:
type(vetor)

list

In [61]:
matriz = [[1,2,3],
          [4,5,6],
          [7,8,9]]

In [57]:
type(matriz)

list

In [62]:
print(matriz)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [63]:
import numpy as np

In [64]:
vetor2 = np.array([1, -3, 4.2, 5])

In [65]:
type(vetor2)

numpy.ndarray

In [66]:
print (vetor2)

[ 1.  -3.   4.2  5. ]

In [67]:
matriz2 = np.ones((2,3))
matriz2

array([[1., 1., 1.],
       [1., 1., 1.]])

In [68]:
type(matriz2)

numpy.ndarray

In [69]:
matriz3 = np.diag((2,4,6,8,10))
matriz3

array([[ 2,  0,  0,  0,  0],
       [ 0,  4,  0,  0,  0],
       [ 0,  0,  6,  0,  0],
       [ 0,  0,  0,  8,  0],
       [ 0,  0,  0,  0, 10]])

In [70]:
type(matriz3)

numpy.ndarray