<a href="https://colab.research.google.com/github/GuilhermeFogolin/Python-Dados-Machine-Learning/blob/main/Tratamento_Projeto01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PROJETO ANÁLISE DOS DADOS DO COVID 19 NO ESTADO DE SÃO PAULO**

Este projeto analisa os dados dos casos de covid 19 no estado de São Paulo do período de fevereiro de 2020 a setembro de 2021.

Os dados estão disponíveis nos sites:

https://www.seade.gov.br/coronavirus/#

https://github.com/seade-R/dados-covid-sp

https://www.seade.gov.br/

## **Importação dos Dados**

### **Importação de arquivo csv**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
covid_sp = pd.read_csv('/content/drive/MyDrive/Cursos_Udemy/python_para_dados/dados_covid_sp.csv',
                    sep=';', encoding='utf-8')
# encoding: codificação de caracteres, normalmente utiliza-se o iso-8859-1, utf-8, latin-1)

In [ ]:
covid_sp.head()

         nome_munic  codigo_ibge  dia  ...  latitude longitude  semana_epidem
0        Adamantina      3500105   25  ...  -21,6820  -51,0737              9
1            Adolfo      3500204   25  ...  -21,2325  -49,6451              9
2             Aguaí      3500303   25  ...  -22,0572  -46,9735              9
3    Águas da Prata      3500402   25  ...  -21,9319  -46,7176              9
4  Águas de Lindóia      3500501   25  ...  -22,4733  -46,6314              9

[5 rows x 26 columns]

In [ ]:
covid_sp.shape

(374034, 26)

### **Importação de arquivo Excel**

In [ ]:
covid_sp2 = pd.read_excel('/content/drive/MyDrive/Cursos_Udemy/python_para_dados/dados_covid_sp.xlsx')

In [ ]:
covid_sp2.head()

In [ ]:
covid_sp2.shape

### **Importação através de uma url**

In [ ]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

In [ ]:
colnames = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'Class']

In [ ]:
iris = pd.read_csv(url, names=colnames)

In [ ]:
iris.head(10)

In [ ]:
type(iris)

In [ ]:
iris.shape

In [ ]:
len(iris.Class)

### **Datasets das bibliotecas do Python**

https://www.statsmodels.org/stable/datasets/index.html

In [ ]:
import statsmodels.api as sm

In [ ]:
cancer = sm.datasets.cancer.load_pandas().data
cancer.head()

In [ ]:
type(cancer)

In [ ]:
cancer.shape

https://scikit-learn.org/stable/datasets/toy_dataset.html

In [ ]:
import sklearn

In [ ]:
from sklearn import datasets

In [ ]:
iris = datasets.load_iris()
iris

In [ ]:
iris.data

In [ ]:
iris.target

In [ ]:
iris.target_names

## **Organização dos dados**

### **Renomeando variáveis (colunas)**

In [ ]:
covid_sp.head(3)

   nome_munic  codigo_ibge  dia  ...  latitude longitude  semana_epidem
0  Adamantina      3500105   25  ...  -21,6820  -51,0737              9
1      Adolfo      3500204   25  ...  -21,2325  -49,6451              9
2       Aguaí      3500303   25  ...  -22,0572  -46,9735              9

[3 rows x 26 columns]

In [ ]:
covid_sp = covid_sp.rename(columns={'nome_munic': 'municipio'})

In [ ]:
covid_sp.head(3)

    municipio  codigo_ibge  dia  ...  latitude longitude  semana_epidem
0  Adamantina      3500105   25  ...  -21,6820  -51,0737              9
1      Adolfo      3500204   25  ...  -21,2325  -49,6451              9
2       Aguaí      3500303   25  ...  -22,0572  -46,9735              9

[3 rows x 26 columns]

In [ ]:
covid_sp.rename(columns={'datahora': 'data'}, inplace=True)

In [ ]:
covid_sp.rename(columns={'map_leg': 'rotulo_mapa','map_leg_s':'codigo_mapa'},inplace=True)

In [ ]:
covid_sp.head(3)

    municipio  codigo_ibge  dia  ...  latitude longitude  semana_epidem
0  Adamantina      3500105   25  ...  -21,6820  -51,0737              9
1      Adolfo      3500204   25  ...  -21,2325  -49,6451              9
2       Aguaí      3500303   25  ...  -22,0572  -46,9735              9

[3 rows x 26 columns]

### **Excluindo variáveis (colunas)**

In [ ]:
# Excluir por nome
covid_sp_alterado = covid_sp.drop(columns=['cod_ra'])

In [ ]:
covid_sp_alterado.head(2)

    municipio  codigo_ibge  dia  ...  latitude longitude  semana_epidem
0  Adamantina      3500105   25  ...  -21,6820  -51,0737              9
1      Adolfo      3500204   25  ...  -21,2325  -49,6451              9

[2 rows x 25 columns]

In [ ]:
covid_sp_alterado.shape

(374034, 25)

In [ ]:
# Excluir por número
covid_sp_alterado = covid_sp_alterado.drop(covid_sp_alterado.columns[[1]],axis=1)

In [ ]:
# Excluir mais de uma variável
covid_sp_alterado.drop(columns=['rotulo_mapa','codigo_mapa','cod_drs'],inplace=True)

In [ ]:
covid_sp_alterado.head()

          municipio  dia  mes  ...  latitude  longitude  semana_epidem
0        Adamantina   25    2  ...  -21,6820   -51,0737              9
1            Adolfo   25    2  ...  -21,2325   -49,6451              9
2             Aguaí   25    2  ...  -22,0572   -46,9735              9
3    Águas da Prata   25    2  ...  -21,9319   -46,7176              9
4  Águas de Lindóia   25    2  ...  -22,4733   -46,6314              9

[5 rows x 21 columns]

In [ ]:
covid_sp_alterado.drop(covid_sp_alterado.columns[[13,14,18,19]],axis=1, inplace=True)

In [ ]:
covid_sp_alterado.shape

(374034, 17)

### **Criando e alterando valores das colunas (Variáveis)**

In [ ]:
covid_sp_alterado.head(3)

    municipio  dia  mes        data  ...    pop  pop_60   area semana_epidem
0  Adamantina   25    2  2020-02-25  ...  33894    7398  41199             9
1      Adolfo   25    2  2020-02-25  ...   3447     761  21106             9
2       Aguaí   25    2  2020-02-25  ...  35608    5245  47455             9

[3 rows x 17 columns]

In [ ]:
covid_sp_alterado['area'] = covid_sp_alterado['area']/100
# ou
# covid_sp_alterado['area'] = covid_sp_alterado.area/100

In [ ]:
# Criação de uma coluna com a densidade demográfica (hab/km2)
covid_sp_alterado['densidade'] = covid_sp_alterado['pop'] / covid_sp_alterado['area']

In [ ]:
covid_sp_alterado.shape

(374034, 18)

In [ ]:
# Criação de uma coluna com índices
lista = list(range(1,374035))
lista

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 ...]

In [ ]:
df = pd.DataFrame(lista,columns=['indice'])
df

        indice
0            1
1            2
2            3
3            4
4            5
...        ...
374029  374030
374030  374031
374031  374032
374032  374033
374033  374034

[374034 rows x 1 columns]

In [ ]:
# Juntando dois DataFrames
covid_sp_alterado = pd.concat([covid_sp_alterado,df],axis=1)
covid_sp_alterado.head()

          municipio  dia  mes  ... semana_epidem   densidade  indice
0        Adamantina   25    2  ...             9   82.268987       1
1            Adolfo   25    2  ...             9   16.331849       2
2             Aguaí   25    2  ...             9   75.035297       3
3    Águas da Prata   25    2  ...             9   54.650592       4
4  Águas de Lindóia   25    2  ...             9  305.571262       5

[5 rows x 19 columns]

In [ ]:
covid_sp_alterado = covid_sp_alterado.reindex(columns=['indice'] + list(covid_sp_alterado.columns[:-1]))
covid_sp_alterado.head()

   indice         municipio  dia  ...    area semana_epidem   densidade
0       1        Adamantina   25  ...  411.99             9   82.268987
1       2            Adolfo   25  ...  211.06             9   16.331849
2       3             Aguaí   25  ...  474.55             9   75.035297
3       4    Águas da Prata   25  ...  142.67             9   54.650592
4       5  Águas de Lindóia   25  ...   60.13             9  305.571262

[5 rows x 19 columns]

### **Contagem de Registros das Variáveis (Colunas)**

In [ ]:
covid_sp_alterado['semana_epidem'].value_counts()

27    9044
34    9044
32    9044
31    9044
30    9044
29    9044
28    9044
15    9044
26    9044
25    9044
24    9044
23    9044
22    9044
21    9044
20    9044
19    9044
18    9044
33    9044
35    9044
16    9044
12    9044
36    9044
10    9044
11    9044
17    9044
13    9044
14    9044
38    9044
37    9044
9     7752
8     4522
7     4522
6     4522
5     4522
4     4522
3     4522
2     4522
53    4522
52    4522
39    4522
40    4522
41    4522
42    4522
43    4522
44    4522
45    4522
46    4522
47    4522
48    4522
49    4522
50    4522
51    4522
1     4522
Name: semana_epidem, dtype: int64

In [ ]:
covid_sp_alterado['semana_epidem'].value_counts().sort_index()

1     4522
2     4522
3     4522
4     4522
5     4522
6     4522
7     4522
8     4522
9     7752
10    9044
11    9044
12    9044
13    9044
14    9044
15    9044
16    9044
17    9044
18    9044
19    9044
20    9044
21    9044
22    9044
23    9044
24    9044
25    9044
26    9044
27    9044
28    9044
29    9044
30    9044
31    9044
32    9044
33    9044
34    9044
35    9044
36    9044
37    9044
38    9044
39    4522
40    4522
41    4522
42    4522
43    4522
44    4522
45    4522
46    4522
47    4522
48    4522
49    4522
50    4522
51    4522
52    4522
53    4522
Name: semana_epidem, dtype: int64

In [ ]:
from collections import Counter
Counter(covid_sp_alterado.semana_epidem)

Counter({1: 4522,
         2: 4522,
         3: 4522,
         4: 4522,
         5: 4522,
         6: 4522,
         7: 4522,
         8: 4522,
         9: 7752,
         10: 9044,
         11: 9044,
         12: 9044,
         13: 9044,
         14: 9044,
         15: 9044,
         16: 9044,
         17: 9044,
         18: 9044,
         19: 9044,
         20: 9044,
         21: 9044,
         22: 9044,
         23: 9044,
         24: 9044,
         25: 9044,
         26: 9044,
         27: 9044,
         28: 9044,
         29: 9044,
         30: 9044,
         31: 9044,
         32: 9044,
         33: 9044,
         34: 9044,
         35: 9044,
         36: 9044,
         37: 9044,
         38: 9044,
         39: 4522,
         40: 4522,
         41: 4522,
         42: 4522,
         43: 4522,
         44: 4522,
         45: 4522,
         46: 4522,
         47: 4522,
         48: 4522,
         49: 4522,
         50: 4522,
         51: 4522,
         52: 4522,
         53: 4522})

In [ ]:
covid_sp_alterado.query('obitos_novos > 50')['municipio'].value_counts()

São Paulo                295
Guarulhos                  9
São Bernardo do Campo      3
Taubaté                    3
Itapetininga               2
Sorocaba                   1
Campinas                   1
Name: municipio, dtype: int64

### **Selecionar Variáveis (Colunas) por Índices**

In [ ]:
covid_sp_alterado

        indice         municipio  dia  ...    area semana_epidem   densidade
0            1        Adamantina   25  ...  411.99             9   82.268987
1            2            Adolfo   25  ...  211.06             9   16.331849
2            3             Aguaí   25  ...  474.55             9   75.035297
3            4    Águas da Prata   25  ...  142.67             9   54.650592
4            5  Águas de Lindóia   25  ...   60.13             9  305.571262
...        ...               ...  ...  ...     ...           ...         ...
374029  374030          Ignorado   21  ...    0.00            38         NaN
374030  374031          Ignorado   22  ...    0.00            38         NaN
374031  374032          Ignorado   23  ...    0.00            38         NaN
374032  374033          Ignorado   24  ...    0.00            38         NaN
374033  374034          Ignorado   25  ...    0.00            38         NaN

[374034 rows x 19 columns]

In [ ]:
x = covid_sp_alterado.iloc[: , 5:13]
x

        casos  casos_novos  ...             obitos_pc         obitos_mm7d
0           0            0  ...  0,00000000000000e+00   0,000000000000000
1           0            0  ...  0,00000000000000e+00   0,000000000000000
2           0            0  ...  0,00000000000000e+00   0,000000000000000
3           0            0  ...  0,00000000000000e+00   0,000000000000000
4           0            0  ...  0,00000000000000e+00   0,000000000000000
...       ...          ...  ...                   ...                 ...
374029   1956         -477  ...  0,00000000000000e+00  -0,285714285714286
374030   1414         -542  ...  0,00000000000000e+00  -0,571428571428571
374031    962         -452  ...  0,00000000000000e+00  -1,714285714285714
374032    557         -405  ...  0,00000000000000e+00  -2,428571428571428
374033    128         -429  ...  0,00000000000000e+00  -2,857142857142857

[374034 rows x 8 columns]

In [ ]:
type(x)

pandas.core.frame.DataFrame

In [ ]:
y = covid_sp_alterado.iloc[:,1]
y

0               Adamantina
1                   Adolfo
2                    Aguaí
3           Águas da Prata
4         Águas de Lindóia
                ...
374029            Ignorado
374030            Ignorado
374031            Ignorado
374032            Ignorado
374033            Ignorado
Name: municipio, Length: 374034, dtype: object

In [ ]:
type(y)

pandas.core.series.Series

In [ ]:
y = covid_sp_alterado.iloc[:,1].values
y

array(['Adamantina', 'Adolfo', 'Aguaí', ..., 'Ignorado', 'Ignorado',
       'Ignorado'], dtype=object)

In [ ]:
lista_y = list(y.flatten())
lista_y

['Adamantina',
 'Adolfo',
 'Aguaí',
 'Águas da Prata',
 'Águas de Lindóia',
 'Águas de Santa Bárbara',
 'Águas de São Pedro',
 'Agudos',
 'Alambari',
 'Alfredo Marcondes',
 'Altair',
 'Altinópolis',
 'Alto Alegre',
 'Alumínio',
 'Álvares Florence',
 'Álvares Machado',
 'Álvaro de Carvalho',
 'Alvinlândia',
 'Americana',
 'Américo Brasiliense',
 'Américo de Campos',
 'Amparo',
 'Analândia',
 'Andradina',
 'Angatuba',
 'Anhembi',
 'Anhumas',
 'Aparecida',
 "Aparecida d'Oeste",
 'Apiaí',
 'Araçariguama',
 'Araçatuba',
 'Araçoiaba da Serra',
 'Aramina',
 'Arandu',
 'Arapeí',
 'Araraquara',
 'Araras',
 'Arco-Íris',
 'Arealva',
 'Areias',
 'Areiópolis',
 'Ariranha',
 'Artur Nogueira',
 'Arujá',
 'Aspásia',
 'Assis',
 'Atibaia',
 'Auriflama',
 'Avaí',
 'Avanhandava',
 'Avaré',
 'Bady Bassitt',
 'Balbinos',
 'Bálsamo',
 'Bananal',
 'Barão de Antonina',
 'Barbosa',
 'Bariri',
 'Barra Bonita',
 'Barra do Chapéu',
 'Barra do Turvo',
 'Barretos',
 'Barrinha',
 'Barueri',
 'Bastos',
 'Batatais',
 'Bauru',
 'Bebedouro',
 'Bento de Abreu',
 'Bernardino de Campos',
 'Bertioga',
 'Bilac',
 'Birigui',
 'Biritiba Mirim',
 'Boa Esperança do Sul',
 'Bocaina',
 'Bofete',
 'Boituva',
 'Bom Jesus dos Perdões',
 'Bom Sucesso de Itararé',
 'Borá',
 'Boracéia',
 'Borborema',
 'Borebi',
 'Botucatu',
 'Bragança Paulista',
 'Braúna',
 'Brejo Alegre',
 'Brodowski',
 'Brotas',
 'Buri',
 'Buritama',
 'Buritizal',
 'Cabrália Paulista',
 'Cabreúva',
 'Caçapava',
 'Cachoeira Paulista',
 'Caconde',
 'Cafelândia',
 'Caiabu',
 'Caieiras',
 'Caiuá',
 'Cajamar',
 'Cajati',
 'Cajobi',
 'Cajuru',
 'Campina do Monte Alegre',
 'Campinas',
 'Campo Limpo Paulista',
 'Campos do Jordão',
 'Campos Novos Paulista',
 'Cananéia',
 'Canas',
 'Cândido Mota',
 'Cândido Rodrigues',
 'Canitar',
 'Capão Bonito',
 'Capela do Alto',
 'Capivari',
 'Caraguatatuba',
 'Carapicuíba',
 'Cardoso',
 'Casa Branca',
 'Cássia dos Coqueiros',
 'Castilho',
 'Catanduva',
 'Catiguá',
 'Cedral',
 'Cerqueira César',
 'Cerquilho',
 'Cesário Lange',
 'Charqueada',
 'Clementina',
 'Colina',
 'Colômbia',
 'Conchal',
 'Conchas',
 'Cordeirópolis',
 'Coroados',
 'Coronel Macedo',
 'Corumbataí',
 'Cosmópolis',
 'Cosmorama',
 'Cotia',
 'Cravinhos',
 'Cristais Paulista',
 'Cruzália',
 'Cruzeiro',
 'Cubatão',
 'Cunha',
 'Descalvado',
 'Diadema',
 'Dirce Reis',
 'Divinolândia',
 'Dobrada',
 'Dois Córregos',
 'Dolcinópolis',
 'Dourado',
 'Dracena',
 'Duartina',
 'Dumont',
 'Echaporã',
 'Eldorado',
 'Elias Fausto',
 'Elisiário',
 'Embaúba',
 'Embu das Artes',
 'Embu-Guaçu',
 'Emilianópolis',
 'Engenheiro Coelho',
 'Espírito Santo do Pinhal',
 'Espírito Santo do Turvo',
 "Estrela d'Oeste",
 'Estrela do Norte',
 'Euclides da Cunha Paulista',
 'Fartura',
 'Fernandópolis',
 'Fernando Prestes',
 'Fernão',
 'Ferraz de Vasconcelos',
 'Flora Rica',
 'Floreal',
 'Flórida Paulista',
 'Florínea',
 'Franca',
 'Francisco Morato',
 'Franco da Rocha',
 'Gabriel Monteiro',
 'Gália',
 'Garça',
 'Gastão Vidigal',
 'Gavião Peixoto',
 'General Salgado',
 'Getulina',
 'Glicério',
 'Guaiçara',
 'Guaimbê',
 'Guaíra',
 'Guapiaçu',
 'Guapiara',
 'Guará',
 'Guaraçaí',
 'Guaraci',
 "Guarani d'Oeste",
 'Guarantã',
 'Guararapes',
 'Guararema',
 'Guaratinguetá',
 'Guareí',
 'Guariba',
 'Guarujá',
 'Guarulhos',
 'Guatapará',
 'Guzolândia',
 'Herculândia',
 'Holambra',
 'Hortolândia',
 'Iacanga',
 'Iacri',
 'Iaras',
 'Ibaté',
 'Ibirá',
 'Ibirarema',
 'Ibitinga',
 'Ibiúna',
 'Icém',
 'Iepê',
 'Igaraçu do Tietê',
 'Igarapava',
 'Igaratá',
 'Iguape',
 'Ilhabela',
 'Ilha Comprida',
 'Ilha Solteira',
 'Indaiatuba',
 'Indiana',
 'Indiaporã',
 'Inúbia Paulista',
 'Ipaussu',
 'Iperó',
 'Ipeúna',
 'Ipiguá',
 'Iporanga',
 'Ipuã',
 'Iracemápolis',
 'Irapuã',
 'Irapuru',
 'Itaberá',
 'Itaí',
 'Itajobi',
 'Itaju',
 'Itanhaém',
 'Itaoca',
 'Itapecerica da Serra',
 'Itapetininga',
 'Itapeva',
 'Itapevi',
 'Itapira',
 'Itapirapuã Paulista',
 'Itápolis',
 'Itaporanga',
 'Itapuí',
 'Itapura',
 'Itaquaquecetuba',
 'Itararé',
 'Itariri',
 'Itatiba',
 'Itatinga',
 'Itirapina',
 'Itirapuã',
 'Itobi',
 'Itu',
 'Itupeva',
 'Ituverava',
 'Jaborandi',
 'Jaboticabal',
 'Jacareí',
 'Jaci',
 'Jacupiranga',
 'Jaguariúna',
 'Jales',
 'Jambeiro',
 'Jandira',
 'Jardinópolis',
 'Jarinu',
 'Jaú',
 'Jeriquara',
 'Joanópolis',
 'João Ramalho',
 'José Bonifácio',
 'Júlio Mesquita',
 'Jumirim',
 'Jundiaí',
 'Junqueirópolis',
 'Juquiá',
 'Juquitiba',
 'Lagoinha',
 'Laranjal Paulista',
 'Lavínia',
 'Lavrinhas',
 'Leme',
 'Lençóis Paulista',
 'Limeira',
 'Lindóia',
 'Lins',
 'Lorena',
 'Lourdes',
 'Louveira',
 'Lucélia',
 'Lucianópolis',
 'Luís Antônio',
 'Luiziânia',
 'Lupércio',
 'Lutécia',
 'Macatuba',
 'Macaubal',
 'Macedônia',
 'Magda',
 'Mairinque',
 'Mairiporã',
 'Manduri',
 'Marabá Paulista',
 'Maracaí',
 'Marapoama',
 'Mariápolis',
 'Marília',
 'Marinópolis',
 'Martinópolis',
 'Matão',
 'Mauá',
 'Mendonça',
 'Meridiano',
 'Mesópolis',
 'Miguelópolis',
 'Mineiros do Tietê',
 'Miracatu',
 'Mira Estrela',
 'Mirandópolis',
 'Mirante do Paranapanema',
 'Mirassol',
 'Mirassolândia',
 'Mococa',
 'Mogi das Cruzes',
 'Mogi Guaçu',
 'Mogi Mirim',
 'Mombuca',
 'Monções',
 'Mongaguá',
 'Monte Alegre do Sul',
 'Monte Alto',
 'Monte Aprazível',
 'Monte Azul Paulista',
 'Monte Castelo',
 'Monteiro Lobato',
 'Monte Mor',
 'Morro Agudo',
 'Morungaba',
 'Motuca',
 'Murutinga do Sul',
 'Nantes',
 'Narandiba',
 'Natividade da Serra',
 'Nazaré Paulista',
 'Neves Paulista',
 'Nhandeara',
 'Nipoã',
 'Nova Aliança',
 'Nova Campina',
 'Nova Canaã Paulista',
 'Nova Castilho',
 'Nova Europa',
 'Nova Granada',
 'Nova Guataporanga',
 'Nova Independência',
 'Novais',
 'Nova Luzitânia',
 'Nova Odessa',
 'Novo Horizonte',
 'Nuporanga',
 'Ocauçu',
 'Óleo',
 'Olímpia',
 'Onda Verde',
 'Oriente',
 'Orindiúva',
 'Orlândia',
 'Osasco',
 'Oscar Bressane',
 'Osvaldo Cruz',
 'Ourinhos',
 'Ouroeste',
 'Ouro Verde',
 'Pacaembu',
 'Palestina',
 'Palmares Paulista',
 "Palmeira d'Oeste",
 'Palmital',
 'Panorama',
 'Paraguaçu Paulista',
 'Paraibuna',
 'Paraíso',
 'Paranapanema',
 'Paranapuã',
 'Parapuã',
 'Pardinho',
 'Pariquera-Açu',
 'Parisi',
 'Patrocínio Paulista',
 'Paulicéia',
 'Paulínia',
 'Paulistânia',
 'Paulo de Faria',
 'Pederneiras',
 'Pedra Bela',
 'Pedranópolis',
 'Pedregulho',
 'Pedreira',
 'Pedrinhas Paulista',
 'Pedro de Toledo',
 'Penápolis',
 'Pereira Barreto',
 'Pereiras',
 'Peruíbe',
 'Piacatu',
 'Piedade',
 'Pilar do Sul',
 'Pindamonhangaba',
 'Pindorama',
 'Pinhalzinho',
 'Piquerobi',
 'Piquete',
 'Piracaia',
 'Piracicaba',
 'Piraju',
 'Pirajuí',
 'Pirangi',
 'Pirapora do Bom Jesus',
 'Pirapozinho',
 'Pirassununga',
 'Piratininga',
 'Pitangueiras',
 'Planalto',
 'Platina',
 'Poá',
 'Poloni',
 'Pompéia',
 'Pongaí',
 'Pontal',
 'Pontalinda',
 'Pontes Gestal',
 'Populina',
 'Porangaba',
 'Porto Feliz',
 'Porto Ferreira',
 'Potim',
 'Potirendaba',
 'Pracinha',
 'Pradópolis',
 'Praia Grande',
 'Pratânia',
 'Presidente Alves',
 'Presidente Bernardes',
 'Presidente Epitácio',
 'Presidente Prudente',
 'Presidente Venceslau',
 'Promissão',
 'Quadra',
 'Quatá',
 'Queiroz',
 'Queluz',
 'Quintana',
 'Rafard',
 'Rancharia',
 'Redenção da Serra',
 'Regente Feijó',
 'Reginópolis',
 'Registro',
 'Restinga',
 'Ribeira',
 'Ribeirão Bonito',
 'Ribeirão Branco',
 'Ribeirão Corrente',
 'Ribeirão do Sul',
 'Ribeirão dos Índios',
 'Ribeirão Grande',
 'Ribeirão Pires',
 'Ribeirão Preto',
 'Riversul',
 'Rifaina',
 'Rincão',
 'Rinópolis',
 'Rio Claro',
 'Rio das Pedras',
 'Rio Grande da Serra',
 'Riolândia',
 'Rosana',
 'Roseira',
 'Rubiácea',
 'Rubinéia',
 'Sabino',
 'Sagres',
 'Sales',
 'Sales Oliveira',
 'Salesópolis',
 'Salmourão',
 'Saltinho',
 'Salto',
 'Salto de Pirapora',
 'Salto Grande',
 'Sandovalina',
 'Santa Adélia',
 'Santa Albertina',
 "Santa Bárbara d'Oeste",
 'Santa Branca',
 "Santa Clara d'Oeste",
 'Santa Cruz da Conceição',
 'Santa Cruz da Esperança',
 'Santa Cruz das Palmeiras',
 'Santa Cruz do Rio Pardo',
 'Santa Ernestina',
 'Santa Fé do Sul',
 'Santa Gertrudes',
 'Santa Isabel',
 'Santa Lúcia',
 'Santa Maria da Serra',
 'Santa Mercedes',
 'Santana da Ponte Pensa',
 'Santana de Parnaíba',
 "Santa Rita d'Oeste",
 'Santa Rita do Passa Quatro',
 'Santa Rosa de Viterbo',
 'Santa Salete',
 'Santo Anastácio',
 'Santo André',
 'Santo Antônio da Alegria',
 'Santo Antônio de Posse',
 'Santo Antônio do Aracanguá',
 'Santo Antônio do Jardim',
 'Santo Antônio do Pinhal',
 'Santo Expedito',
 'Santópolis do Aguapeí',
 'Santos',
 'São Bento do Sapucaí',
 'São Bernardo do Campo',
 'São Caetano do Sul',
 'São Carlos',
 'São Francisco',
 'São João da Boa Vista',
 'São João das Duas Pontes',
 'São João de Iracema',
 "São João do Pau d'Alho",
 'São Joaquim da Barra',
 'São José da Bela Vista',
 'São José do Barreiro',
 'São José do Rio Pardo',
 'São José do Rio Preto',
 'São José dos Campos',
 'São Lourenço da Serra',
 'São Luiz do Paraitinga',
 'São Manuel',
 'São Miguel Arcanjo',
 'São Paulo',
 'São Pedro',
 'São Pedro do Turvo',
 'São Roque',
 'São Sebastião',
 'São Sebastião da Grama',
 'São Simão',
 'São Vicente',
 'Sarapuí',
 'Sarutaiá',
 'Sebastianópolis do Sul',
 'Serra Azul',
 'Serrana',
 'Serra Negra',
 'Sertãozinho',
 'Sete Barras',
 'Severínia',
 'Silveiras',
 'Socorro',
 'Sorocaba',
 'Sud Mennucci',
 'Sumaré',
 'Suzano',
 'Suzanápolis',
 'Tabapuã',
 'Tabatinga',
 'Taboão da Serra',
 'Taciba',
 'Taguaí',
 'Taiaçu',
 'Taiúva',
 'Tambaú',
 'Tanabi',
 'Tapiraí',
 'Tapiratiba',
 'Taquaral',
 'Taquaritinga',
 'Taquarituba',
 'Taquarivaí',
 'Tarabai',
 'Tarumã',
 'Tatuí',
 'Taubaté',
 'Tejupá',
 'Teodoro Sampaio',
 'Terra Roxa',
 'Tietê',
 'Timburi',
 'Torre de Pedra',
 'Torrinha',
 'Trabiju',
 'Tremembé',
 'Três Fronteiras',
 'Tuiuti',
 'Tupã',
 'Tupi Paulista',
 'Turiúba',
 'Turmalina',
 'Ubarana',
 'Ubatuba',
 'Ubirajara',
 'Uchoa',
 'União Paulista',
 'Urânia',
 'Uru',
 'Urupês',
 'Valentim Gentil',
 'Valinhos',
 'Valparaíso',
 'Vargem',
 'Vargem Grande do Sul',
 'Vargem Grande Paulista',
 'Várzea Paulista',
 'Vera Cruz',
 'Vinhedo',
 'Viradouro',
 'Vista Alegre do Alto',
 'Vitória Brasil',
 'Votorantim',
 'Votuporanga',
 'Zacarias',
 'Chavantes',
 'Estiva Gerbi',
 'Adamantina',
 'Adolfo',
 'Aguaí',
 'Águas da Prata',
 'Águas de Lindóia',
 'Águas de Santa Bárbara',
 'Águas de São Pedro',
 'Agudos',
 'Alambari',
 'Alfredo Marcondes',
 'Altair',
 'Altinópolis',
 'Alto Alegre',
 'Alumínio',
 'Álvares Florence',
 'Álvares Machado',
 'Álvaro de Carvalho',
 'Alvinlândia',
 'Americana',
 'Américo Brasiliense',
 'Américo de Campos',
 'Amparo',
 'Analândia',
 'Andradina',
 'Angatuba',
 'Anhembi',
 'Anhumas',
 'Aparecida',
 "Aparecida d'Oeste",
 'Apiaí',
 'Araçariguama',
 'Araçatuba',
 'Araçoiaba da Serra',
 'Aramina',
 'Arandu',
 'Arapeí',
 'Araraquara',
 'Araras',
 'Arco-Íris',
 'Arealva',
 'Areias',
 'Areiópolis',
 'Ariranha',
 'Artur Nogueira',
 'Arujá',
 'Aspásia',
 'Assis',
 'Atibaia',
 'Auriflama',
 'Avaí',
 'Avanhandava',
 'Avaré',
 'Bady Bassitt',
 'Balbinos',
 'Bálsamo',
 'Bananal',
 'Barão de Antonina',
 'Barbosa',
 'Bariri',
 'Barra Bonita',
 'Barra do Chapéu',
 'Barra do Turvo',
 'Barretos',
 'Barrinha',
 'Barueri',
 'Bastos',
 'Batatais',
 'Bauru',
 'Bebedouro',
 'Bento de Abreu',
 'Bernardino de Campos',
 'Bertioga',
 'Bilac',
 'Birigui',
 'Biritiba Mirim',
 'Boa Esperança do Sul',
 'Bocaina',
 'Bofete',
 'Boituva',
 'Bom Jesus dos Perdões',
 'Bom Sucesso de Itararé',
 'Borá',
 'Boracéia',
 'Borborema',
 'Borebi',
 'Botucatu',
 'Bragança Paulista',
 'Braúna',
 'Brejo Alegre',
 'Brodowski',
 'Brotas',
 'Buri',
 'Buritama',
 'Buritizal',
 'Cabrália Paulista',
 'Cabreúva',
 'Caçapava',
 'Cachoeira Paulista',
 'Caconde',
 'Cafelândia',
 'Caiabu',
 'Caieiras',
 'Caiuá',
 'Cajamar',
 'Cajati',
 'Cajobi',
 'Cajuru',
 'Campina do Monte Alegre',
 'Campinas',
 'Campo Limpo Paulista',
 'Campos do Jordão',
 'Campos Novos Paulista',
 'Cananéia',
 'Canas',
 'Cândido Mota',
 'Cândido Rodrigues',
 'Canitar',
 'Capão Bonito',
 'Capela do Alto',
 'Capivari',
 'Caraguatatuba',
 'Carapicuíba',
 'Cardoso',
 'Casa Branca',
 'Cássia dos Coqueiros',
 'Castilho',
 'Catanduva',
 'Catiguá',
 'Cedral',
 'Cerqueira César',
 'Cerquilho',
 'Cesário Lange',
 'Charqueada',
 'Clementina',
 'Colina',
 'Colômbia',
 'Conchal',
 'Conchas',
 'Cordeirópolis',
 'Coroados',
 'Coronel Macedo',
 'Corumbataí',
 'Cosmópolis',
 'Cosmorama',
 'Cotia',
 'Cravinhos',
 'Cristais Paulista',
 'Cruzália',
 'Cruzeiro',
 'Cubatão',
 'Cunha',
 'Descalvado',
 'Diadema',
 'Dirce Reis',
 'Divinolândia',
 'Dobrada',
 'Dois Córregos',
 'Dolcinópolis',
 'Dourado',
 'Dracena',
 'Duartina',
 'Dumont',
 'Echaporã',
 'Eldorado',
 'Elias Fausto',
 'Elisiário',
 'Embaúba',
 'Embu das Artes',
 'Embu-Guaçu',
 'Emilianópolis',
 'Engenheiro Coelho',
 'Espírito Santo do Pinhal',
 'Espírito Santo do Turvo',
 "Estrela d'Oeste",
 'Estrela do Norte',
 'Euclides da Cunha Paulista',
 'Fartura',
 'Fernandópolis',
 'Fernando Prestes',
 'Fernão',
 'Ferraz de Vasconcelos',
 'Flora Rica',
 'Floreal',
 'Flórida Paulista',
 'Florínea',
 'Franca',
 'Francisco Morato',
 'Franco da Rocha',
 'Gabriel Monteiro',
 'Gália',
 'Garça',
 'Gastão Vidigal',
 'Gavião Peixoto',
 'General Salgado',
 'Getulina',
 'Glicério',
 'Guaiçara',
 'Guaimbê',
 'Guaíra',
 'Guapiaçu',
 'Guapiara',
 'Guará',
 'Guaraçaí',
 'Guaraci',
 "Guarani d'Oeste",
 'Guarantã',
 'Guararapes',
 'Guararema',
 'Guaratinguetá',
 'Guareí',
 'Guariba',
 'Guarujá',
 'Guarulhos',
 'Guatapará',
 'Guzolândia',
 'Herculândia',
 'Holambra',
 'Hortolândia',
 'Iacanga',
 'Iacri',
 'Iaras',
 'Ibaté',
 'Ibirá',
 'Ibirarema',
 'Ibitinga',
 'Ibiúna',
 'Icém',
 'Iepê',
 'Igaraçu do Tietê',
 'Igarapava',
 'Igaratá',
 'Iguape',
 'Ilhabela',
 'Ilha Comprida',
 'Ilha Solteira',
 'Indaiatuba',
 'Indiana',
 'Indiaporã',
 'Inúbia Paulista',
 'Ipaussu',
 'Iperó',
 'Ipeúna',
 'Ipiguá',
 'Iporanga',
 'Ipuã',
 'Iracemápolis',
 'Irapuã',
 'Irapuru',
 'Itaberá',
 'Itaí',
 'Itajobi',
 'Itaju',
 'Itanhaém',
 'Itaoca',
 'Itapecerica da Serra',
 'Itapetininga',
 'Itapeva',
 'Itapevi',
 'Itapira',
 'Itapirapuã Paulista',
 'Itápolis',
 'Itaporanga',
 'Itapuí',
 'Itapura',
 'Itaquaquecetuba',
 'Itararé',
 'Itariri',
 'Itatiba',
 'Itatinga',
 'Itirapina',
 'Itirapuã',
 'Itobi',
 'Itu',
 'Itupeva',
 'Ituverava',
 'Jaborandi',
 'Jaboticabal',
 'Jacareí',
 'Jaci',
 'Jacupiranga',
 'Jaguariúna',
 'Jales',
 'Jambeiro',
 'Jandira',
 'Jardinópolis',
 'Jarinu',
 'Jaú',
 'Jeriquara',
 'Joanópolis',
 'João Ramalho',
 'José Bonifácio',
 'Júlio Mesquita',
 'Jumirim',
 'Jundiaí',
 'Junqueirópolis',
 'Juquiá',
 'Juquitiba',
 'Lagoinha',
 'Laranjal Paulista',
 'Lavínia',
 'Lavrinhas',
 'Leme',
 'Lençóis Paulista',
 'Limeira',
 'Lindóia',
 'Lins',
 'Lorena',
 'Lourdes',
 'Louveira',
 'Lucélia',
 'Lucianópolis',
 'Luís Antônio',
 'Luiziânia',
 'Lupércio',
 'Lutécia',
 'Macatuba',
 'Macaubal',
 'Macedônia',
 'Magda',
 'Mairinque',
 'Mairiporã',
 'Manduri',
 'Marabá Paulista',
 'Maracaí',
 'Marapoama',
 'Mariápolis',
 'Marília',
 'Marinópolis',
 'Martinópolis',
 'Matão',
 'Mauá',
 'Mendonça',
 'Meridiano',
 'Mesópolis',
 'Miguelópolis',
 'Mineiros do Tietê',
 'Miracatu',
 'Mira Estrela',
 'Mirandópolis',
 'Mirante do Paranapanema',
 'Mirassol',
 'Mirassolândia',
 'Mococa',
 'Mogi das Cruzes',
 'Mogi Guaçu',
 'Mogi Mirim',
 'Mombuca',
 'Monções',
 'Mongaguá',
 'Monte Alegre do Sul',
 'Monte Alto',
 'Monte Aprazível',
 'Monte Azul Paulista',
 'Monte Castelo',
 'Monteiro Lobato',
 ...]

In [ ]:
type(lista_y)

list

In [ ]:
df = pd.DataFrame(lista_y,columns=['municipio'])
df

               municipio
0             Adamantina
1                 Adolfo
2                  Aguaí
3         Águas da Prata
4       Águas de Lindóia
...                  ...
374029          Ignorado
374030          Ignorado
374031          Ignorado
374032          Ignorado
374033          Ignorado

[374034 rows x 1 columns]

### **Excluindo, Filtrando e Substituindo Registros (Linhas)**

In [ ]:
# Excluindo linhas por índices (valores absolutos)
covid_sp_alterado2 = covid_sp_alterado.drop(covid_sp_alterado.index[[1,3]])
covid_sp_alterado2

In [ ]:
# Excluindo linhas por índices (intervalo de valores)
covid_sp_alterado2 = covid_sp_alterado2.drop(covid_sp_alterado.index[4:7])
covid_sp_alterado2

        indice          municipio  dia  ...    area semana_epidem   densidade
0            1         Adamantina   25  ...  411.99             9   82.268987
2            3              Aguaí   25  ...  474.55             9   75.035297
7            8             Agudos   25  ...  966.71             9   37.378324
8            9           Alambari   25  ...   15.96             9  362.092732
9           10  Alfredo Marcondes   25  ...  118.92             9   33.022200
...        ...                ...  ...  ...     ...           ...         ...
374029  374030           Ignorado   21  ...    0.00            38         NaN
374030  374031           Ignorado   22  ...    0.00            38         NaN
374031  374032           Ignorado   23  ...    0.00            38         NaN
374032  374033           Ignorado   24  ...    0.00            38         NaN
374033  374034           Ignorado   25  ...    0.00            38         NaN

[374029 rows x 19 columns]

In [ ]:
# Reordenar (resetar) índices
covid_sp_alterado2 = covid_sp_alterado2.reset_index(drop=True) # drop é para excluir índice anterior
covid_sp_alterado2

In [ ]:
ignorado = covid_sp_alterado.loc[covid_sp_alterado.municipio == 'Ignorado']
ignorado

        indice municipio  dia  mes  ... pop_60  area  semana_epidem densidade
373455  373456  Ignorado   25    2  ...      0   0.0              9       NaN
373456  373457  Ignorado   26    2  ...      0   0.0              9       NaN
373457  373458  Ignorado   27    2  ...      0   0.0              9       NaN
373458  373459  Ignorado   28    2  ...      0   0.0              9       NaN
373459  373460  Ignorado   29    2  ...      0   0.0              9       NaN
...        ...       ...  ...  ...  ...    ...   ...            ...       ...
374029  374030  Ignorado   21    9  ...      0   0.0             38       NaN
374030  374031  Ignorado   22    9  ...      0   0.0             38       NaN
374031  374032  Ignorado   23    9  ...      0   0.0             38       NaN
374032  374033  Ignorado   24    9  ...      0   0.0             38       NaN
374033  374034  Ignorado   25    9  ...      0   0.0             38       NaN

[579 rows x 19 columns]

In [ ]:
ignorado.shape

(579, 19)

In [ ]:
covid_sp_alterado = covid_sp_alterado.loc[covid_sp_alterado.municipio != 'Ignorado']
covid_sp_alterado

        indice         municipio  dia  ...    area semana_epidem    densidade
0            1        Adamantina   25  ...  411.99             9    82.268987
1            2            Adolfo   25  ...  211.06             9    16.331849
2            3             Aguaí   25  ...  474.55             9    75.035297
3            4    Águas da Prata   25  ...  142.67             9    54.650592
4            5  Águas de Lindóia   25  ...   60.13             9   305.571262
...        ...               ...  ...  ...     ...           ...          ...
373450  373451        Votorantim   25  ...  183.52            38   652.920663
373451  373452       Votuporanga   25  ...   42.07            38  2181.126694
373452  373453          Zacarias   25  ...  319.06            38     8.023569
373453  373454         Chavantes   25  ...  188.73            38    64.764478
373454  373455      Estiva Gerbi   25  ...   74.14            38   149.433504

[373455 rows x 19 columns]

In [ ]:
guarulhos = covid_sp_alterado.loc[covid_sp_alterado.municipio == 'Guarulhos']
guarulhos

        indice  municipio  dia  mes  ...  pop_60    area  semana_epidem    densidade
212        213  Guarulhos   25    2  ...  162662  318.68              9  4240.225304
857        858  Guarulhos   26    2  ...  162662  318.68              9  4240.225304
1502      1503  Guarulhos   27    2  ...  162662  318.68              9  4240.225304
2147      2148  Guarulhos   28    2  ...  162662  318.68              9  4240.225304
2792      2793  Guarulhos   29    2  ...  162662  318.68              9  4240.225304
...        ...        ...  ...  ...  ...     ...     ...            ...          ...
370442  370443  Guarulhos   21    9  ...  162662  318.68             38  4240.225304
371087  371088  Guarulhos   22    9  ...  162662  318.68             38  4240.225304
371732  371733  Guarulhos   23    9  ...  162662  318.68             38  4240.225304
372377  372378  Guarulhos   24    9  ...  162662  318.68             38  4240.225304
373022  373023  Guarulhos   25    9  ...  162662  318.68             38  4240.225304

[579 rows x 19 columns]

In [ ]:
guarulhos.drop(columns=['data','municipio'],inplace=True)
guarulhos.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      indice  dia  mes  casos  ...  pop_60    area semana_epidem    densidade
212      213   25    2      0  ...  162662  318.68             9  4240.225304
857      858   26    2      0  ...  162662  318.68             9  4240.225304
1502    1503   27    2      0  ...  162662  318.68             9  4240.225304
2147    2148   28    2      0  ...  162662  318.68             9  4240.225304
2792    2793   29    2      0  ...  162662  318.68             9  4240.225304

[5 rows x 17 columns]

In [ ]:
guarulhos['semana_epidem']=guarulhos['semana_epidem'].replace({9:'nove', 10: 'dez'})
guarulhos.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      indice  dia  mes  casos  ...  pop_60    area semana_epidem    densidade
212      213   25    2      0  ...  162662  318.68          nove  4240.225304
857      858   26    2      0  ...  162662  318.68          nove  4240.225304
1502    1503   27    2      0  ...  162662  318.68          nove  4240.225304
2147    2148   28    2      0  ...  162662  318.68          nove  4240.225304
2792    2793   29    2      0  ...  162662  318.68          nove  4240.225304
3437    3438    1    3      0  ...  162662  318.68           dez  4240.225304
4082    4083    2    3      0  ...  162662  318.68           dez  4240.225304
4727    4728    3    3      0  ...  162662  318.68           dez  4240.225304
5372    5373    4    3      0  ...  162662  318.68           dez  4240.225304
6017    6018    5    3      0  ...  162662  318.68           dez  4240.225304

[10 rows x 17 columns]

In [ ]:
guarulhos['semana_epidem']=guarulhos['semana_epidem'].replace([11,12,13],['onze','doze','treze'])
guarulhos.head(30)

In [ ]:
guarulhos['casos_pc'] = guarulhos['casos_pc'].apply(lambda x: x.replace(',','.'))
guarulhos

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        indice  dia  mes  casos  ...  pop_60    area semana_epidem    densidade
212        213   25    2      0  ...  162662  318.68          nove  4240.225304
857        858   26    2      0  ...  162662  318.68          nove  4240.225304
1502      1503   27    2      0  ...  162662  318.68          nove  4240.225304
2147      2148   28    2      0  ...  162662  318.68          nove  4240.225304
2792      2793   29    2      0  ...  162662  318.68          nove  4240.225304
...        ...  ...  ...    ...  ...     ...     ...           ...          ...
370442  370443   21    9  63334  ...  162662  318.68            38  4240.225304
371087  371088   22    9  63351  ...  162662  318.68            38  4240.225304
371732  371733   23    9  63368  ...  162662  318.68            38  4240.225304
372377  372378   24    9  63387  ...  162662  318.68            38  4240.225304
373022  373023   25    9  63398  ...  162662  318.68            38  4240.225304

[579 rows x 17 columns]

In [ ]:
guarulhos.shape

(579, 17)

In [ ]:
# Criar coluna com datas
import datetime

In [ ]:
data = np.array('2020-02-25', dtype = np.datetime64())
data

array('2020-02-25', dtype='datetime64[D]')

In [ ]:
data = data + np.arange(579)
data

array(['2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28',
       '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03',
       '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-07',
       '2020-03-08', '2020-03-09', '2020-03-10', '2020-03-11',
       '2020-03-12', '2020-03-13', '2020-03-14', '2020-03-15',
       '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19',
       '2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23',
       '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27',
       '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31',
       '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04',
       '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08',
       '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12',
       '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16',
       '2020-04-17', '2020-04-18', '2020-04-19', '2020-04-20',
       '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24',
       '2020-04-25', '2020-04-26', '2020-04-27', '2020-04-28',
       '2020-04-29', '2020-04-30', '2020-05-01', '2020-05-02',
       '2020-05-03', '2020-05-04', '2020-05-05', '2020-05-06',
       '2020-05-07', '2020-05-08', '2020-05-09', '2020-05-10',
       '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14',
       '2020-05-15', '2020-05-16', '2020-05-17', '2020-05-18',
       '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-22',
       '2020-05-23', '2020-05-24', '2020-05-25', '2020-05-26',
       '2020-05-27', '2020-05-28', '2020-05-29', '2020-05-30',
       '2020-05-31', '2020-06-01', '2020-06-02', '2020-06-03',
       '2020-06-04', '2020-06-05', '2020-06-06', '2020-06-07',
       '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11',
       '2020-06-12', '2020-06-13', '2020-06-14', '2020-06-15',
       '2020-06-16', '2020-06-17', '2020-06-18', '2020-06-19',
       '2020-06-20', '2020-06-21', '2020-06-22', '2020-06-23',
       '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-27',
       '2020-06-28', '2020-06-29', '2020-06-30', '2020-07-01',
       '2020-07-02', '2020-07-03', '2020-07-04', '2020-07-05',
       '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09',
       '2020-07-10', '2020-07-11', '2020-07-12', '2020-07-13',
       '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17',
       '2020-07-18', '2020-07-19', '2020-07-20', '2020-07-21',
       '2020-07-22', '2020-07-23', '2020-07-24', '2020-07-25',
       '2020-07-26', '2020-07-27', '2020-07-28', '2020-07-29',
       '2020-07-30', '2020-07-31', '2020-08-01', '2020-08-02',
       '2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06',
       '2020-08-07', '2020-08-08', '2020-08-09', '2020-08-10',
       '2020-08-11', '2020-08-12', '2020-08-13', '2020-08-14',
       '2020-08-15', '2020-08-16', '2020-08-17', '2020-08-18',
       '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-22',
       '2020-08-23', '2020-08-24', '2020-08-25', '2020-08-26',
       '2020-08-27', '2020-08-28', '2020-08-29', '2020-08-30',
       '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03',
       '2020-09-04', '2020-09-05', '2020-09-06', '2020-09-07',
       '2020-09-08', '2020-09-09', '2020-09-10', '2020-09-11',
       '2020-09-12', '2020-09-13', '2020-09-14', '2020-09-15',
       '2020-09-16', '2020-09-17', '2020-09-18', '2020-09-19',
       '2020-09-20', '2020-09-21', '2020-09-22', '2020-09-23',
       '2020-09-24', '2020-09-25', '2020-09-26', '2020-09-27',
       '2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
       '2020-10-02', '2020-10-03', '2020-10-04', '2020-10-05',
       '2020-10-06', '2020-10-07', '2020-10-08', '2020-10-09',
       '2020-10-10', '2020-10-11', '2020-10-12', '2020-10-13',
       '2020-10-14', '2020-10-15', '2020-10-16', '2020-10-17',
       '2020-10-18', '2020-10-19', '2020-10-20', '2020-10-21',
       '2020-10-22', '2020-10-23', '2020-10-24', '2020-10-25',
       '2020-10-26', '2020-10-27', '2020-10-28', '2020-10-29',
       '2020-10-30', '2020-10-31', '2020-11-01', '2020-11-02',
       '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-06',
       '2020-11-07', '2020-11-08', '2020-11-09', '2020-11-10',
       '2020-11-11', '2020-11-12', '2020-11-13', '2020-11-14',
       '2020-11-15', '2020-11-16', '2020-11-17', '2020-11-18',
       '2020-11-19', '2020-11-20', '2020-11-21', '2020-11-22',
       '2020-11-23', '2020-11-24', '2020-11-25', '2020-11-26',
       '2020-11-27', '2020-11-28', '2020-11-29', '2020-11-30',
       '2020-12-01', '2020-12-02', '2020-12-03', '2020-12-04',
       '2020-12-05', '2020-12-06', '2020-12-07', '2020-12-08',
       '2020-12-09', '2020-12-10', '2020-12-11', '2020-12-12',
       '2020-12-13', '2020-12-14', '2020-12-15', '2020-12-16',
       '2020-12-17', '2020-12-18', '2020-12-19', '2020-12-20',
       '2020-12-21', '2020-12-22', '2020-12-23', '2020-12-24',
       '2020-12-25', '2020-12-26', '2020-12-27', '2020-12-28',
       '2020-12-29', '2020-12-30', '2020-12-31', '2021-01-01',
       '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05',
       '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-09',
       '2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13',
       '2021-01-14', '2021-01-15', '2021-01-16', '2021-01-17',
       '2021-01-18', '2021-01-19', '2021-01-20', '2021-01-21',
       '2021-01-22', '2021-01-23', '2021-01-24', '2021-01-25',
       '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29',
       '2021-01-30', '2021-01-31', '2021-02-01', '2021-02-02',
       '2021-02-03', '2021-02-04', '2021-02-05', '2021-02-06',
       '2021-02-07', '2021-02-08', '2021-02-09', '2021-02-10',
       '2021-02-11', '2021-02-12', '2021-02-13', '2021-02-14',
       '2021-02-15', '2021-02-16', '2021-02-17', '2021-02-18',
       '2021-02-19', '2021-02-20', '2021-02-21', '2021-02-22',
       '2021-02-23', '2021-02-24', '2021-02-25', '2021-02-26',
       '2021-02-27', '2021-02-28', '2021-03-01', '2021-03-02',
       '2021-03-03', '2021-03-04', '2021-03-05', '2021-03-06',
       '2021-03-07', '2021-03-08', '2021-03-09', '2021-03-10',
       '2021-03-11', '2021-03-12', '2021-03-13', '2021-03-14',
       '2021-03-15', '2021-03-16', '2021-03-17', '2021-03-18',
       '2021-03-19', '2021-03-20', '2021-03-21', '2021-03-22',
       '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
       '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
       '2021-03-31', '2021-04-01', '2021-04-02', '2021-04-03',
       '2021-04-04', '2021-04-05', '2021-04-06', '2021-04-07',
       '2021-04-08', '2021-04-09', '2021-04-10', '2021-04-11',
       '2021-04-12', '2021-04-13', '2021-04-14', '2021-04-15',
       '2021-04-16', '2021-04-17', '2021-04-18', '2021-04-19',
       '2021-04-20', '2021-04-21', '2021-04-22', '2021-04-23',
       '2021-04-24', '2021-04-25', '2021-04-26', '2021-04-27',
       '2021-04-28', '2021-04-29', '2021-04-30', '2021-05-01',
       '2021-05-02', '2021-05-03', '2021-05-04', '2021-05-05',
       '2021-05-06', '2021-05-07', '2021-05-08', '2021-05-09',
       '2021-05-10', '2021-05-11', '2021-05-12', '2021-05-13',
       '2021-05-14', '2021-05-15', '2021-05-16', '2021-05-17',
       '2021-05-18', '2021-05-19', '2021-05-20', '2021-05-21',
       '2021-05-22', '2021-05-23', '2021-05-24', '2021-05-25',
       '2021-05-26', '2021-05-27', '2021-05-28', '2021-05-29',
       '2021-05-30', '2021-05-31', '2021-06-01', '2021-06-02',
       '2021-06-03', '2021-06-04', '2021-06-05', '2021-06-06',
       '2021-06-07', '2021-06-08', '2021-06-09', '2021-06-10',
       '2021-06-11', '2021-06-12', '2021-06-13', '2021-06-14',
       '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-18',
       '2021-06-19', '2021-06-20', '2021-06-21', '2021-06-22',
       '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-26',
       '2021-06-27', '2021-06-28', '2021-06-29', '2021-06-30',
       '2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04',
       '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08',
       '2021-07-09', '2021-07-10', '2021-07-11', '2021-07-12',
       '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16',
       '2021-07-17', '2021-07-18', '2021-07-19', '2021-07-20',
       '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-24',
       '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28',
       '2021-07-29', '2021-07-30', '2021-07-31', '2021-08-01',
       '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05',
       '2021-08-06', '2021-08-07', '2021-08-08', '2021-08-09',
       '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13',
       '2021-08-14', '2021-08-15', '2021-08-16', '2021-08-17',
       '2021-08-18', '2021-08-19', '2021-08-20', '2021-08-21',
       '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25',
       '2021-08-26', '2021-08-27', '2021-08-28', '2021-08-29',
       '2021-08-30', '2021-08-31', '2021-09-01', '2021-09-02',
       '2021-09-03', '2021-09-04', '2021-09-05', '2021-09-06',
       '2021-09-07', '2021-09-08', '2021-09-09', '2021-09-10',
       '2021-09-11', '2021-09-12', '2021-09-13', '2021-09-14',
       '2021-09-15', '2021-09-16', '2021-09-17', '2021-09-18',
       '2021-09-19', '2021-09-20', '2021-09-21', '2021-09-22',
       '2021-09-23', '2021-09-24', '2021-09-25'], dtype='datetime64[D]')

In [ ]:
data = pd.DataFrame(data)
data

             0
0   2020-02-25
1   2020-02-26
2   2020-02-27
3   2020-02-28
4   2020-02-29
..         ...
574 2021-09-21
575 2021-09-22
576 2021-09-23
577 2021-09-24
578 2021-09-25

[579 rows x 1 columns]

In [ ]:
data.columns = ['data']
data.head()

        data
0 2020-02-25
1 2020-02-26
2 2020-02-27
3 2020-02-28
4 2020-02-29

In [ ]:
guarulhos2 = pd.concat([data,guarulhos],axis=1)
guarulhos2.head()

        data  indice  dia  mes  ...  pop_60  area semana_epidem densidade
0 2020-02-25     NaN  NaN  NaN  ...     NaN   NaN           NaN       NaN
1 2020-02-26     NaN  NaN  NaN  ...     NaN   NaN           NaN       NaN
2 2020-02-27     NaN  NaN  NaN  ...     NaN   NaN           NaN       NaN
3 2020-02-28     NaN  NaN  NaN  ...     NaN   NaN           NaN       NaN
4 2020-02-29     NaN  NaN  NaN  ...     NaN   NaN           NaN       NaN

[5 rows x 18 columns]

In [ ]:
# Reordenar (resetar) índices
guarulhos = guarulhos.reset_index(drop=True) # drop é para excluir índice anterior
guarulhos

     indice  dia  mes  casos  ...  pop_60    area semana_epidem    densidade
0       213   25    2      0  ...  162662  318.68          nove  4240.225304
1       858   26    2      0  ...  162662  318.68          nove  4240.225304
2      1503   27    2      0  ...  162662  318.68          nove  4240.225304
3      2148   28    2      0  ...  162662  318.68          nove  4240.225304
4      2793   29    2      0  ...  162662  318.68          nove  4240.225304
..      ...  ...  ...    ...  ...     ...     ...           ...          ...
574  370443   21    9  63334  ...  162662  318.68            38  4240.225304
575  371088   22    9  63351  ...  162662  318.68            38  4240.225304
576  371733   23    9  63368  ...  162662  318.68            38  4240.225304
577  372378   24    9  63387  ...  162662  318.68            38  4240.225304
578  373023   25    9  63398  ...  162662  318.68            38  4240.225304

[579 rows x 17 columns]

In [ ]:
guarulhos2 = pd.concat([data,guarulhos],axis=1)
guarulhos2.head()

        data  indice  dia  mes  ...  pop_60    area semana_epidem    densidade
0 2020-02-25     213   25    2  ...  162662  318.68          nove  4240.225304
1 2020-02-26     858   26    2  ...  162662  318.68          nove  4240.225304
2 2020-02-27    1503   27    2  ...  162662  318.68          nove  4240.225304
3 2020-02-28    2148   28    2  ...  162662  318.68          nove  4240.225304
4 2020-02-29    2793   29    2  ...  162662  318.68          nove  4240.225304

[5 rows x 18 columns]

In [ ]:
guarulhos2.shape

(579, 18)

### **Valores Missing (NAN)**

In [ ]:
# RELAÇÃO DA QUANTIDADE
covid_sp_alterado.isnull().sum()

indice           0
municipio        0
dia              0
mes              0
data             0
casos            0
casos_novos      0
casos_pc         0
casos_mm7d       0
obitos           0
obitos_novos     0
obitos_pc        0
obitos_mm7d      0
letalidade       0
pop              0
pop_60           0
area             0
semana_epidem    0
densidade        0
dtype: int64

In [ ]:
covid_sp_alterado['casos'].isnull().sum()

0

In [ ]:
# RELAÇÃO DA QUANTIDADE
covid_sp.isnull().sum()

municipio          0
codigo_ibge        0
dia                0
mes                0
data               0
casos              0
casos_novos        0
casos_pc           0
casos_mm7d         0
obitos             0
obitos_novos       0
obitos_pc          0
obitos_mm7d        0
letalidade         0
nome_ra          579
cod_ra             0
nome_drs         579
cod_drs            0
pop                0
pop_60             0
area               0
rotulo_mapa      579
codigo_mapa      579
latitude           0
longitude          0
semana_epidem      0
dtype: int64

In [ ]:
# EXCLUIR TODOS OS VALORES MISSING
covid_sp2 = covid_sp.dropna()

In [ ]:
covid_sp2.isnull().sum()

municipio        0
codigo_ibge      0
dia              0
mes              0
data             0
casos            0
casos_novos      0
casos_pc         0
casos_mm7d       0
obitos           0
obitos_novos     0
obitos_pc        0
obitos_mm7d      0
letalidade       0
nome_ra          0
cod_ra           0
nome_drs         0
cod_drs          0
pop              0
pop_60           0
area             0
rotulo_mapa      0
codigo_mapa      0
latitude         0
longitude        0
semana_epidem    0
dtype: int64

In [ ]:
# SUBSTITUIR OS VALORES MISSING PELA MEDIANA
covid_sp['obitos_novos'].fillna(covid_sp['obitos_novos'].median(), inplace=True)

In [ ]:
# SUBSTITUIR OS VALORES MISSING PELA MÉDIA
covid_sp['obitos_novos'].fillna(covid_sp['obitos_novos'].mean(), inplace=True)

In [ ]:
# SUBSTITUIR OS VALORES MISSING POR QUALQUER OUTRO VALOR
covid_sp['obitos_novos'].fillna(10, inplace=True)

### **Classificação e alteração da tipagem dos atributos**

Análise dos tipos de atributos:

object: strings

int64: inteiros

float64: reais

complex: complexos

In [ ]:
covid_sp_alterado.dtypes

indice             int64
municipio         object
dia                int64
mes                int64
data              object
casos              int64
casos_novos        int64
casos_pc          object
casos_mm7d        object
obitos             int64
obitos_novos       int64
obitos_pc         object
obitos_mm7d       object
letalidade        object
pop                int64
pop_60             int64
area             float64
semana_epidem      int64
densidade        float64
dtype: object

In [ ]:
covid_sp_alterado['casos_pc'] = covid_sp_alterado['casos_pc'].astype(float)

ValueError: ignored

In [ ]:
covid_sp_alterado['casos_pc'] = covid_sp_alterado['casos_pc'].apply(lambda x: x.replace(',','.'))
covid_sp_alterado

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        indice         municipio  dia  ...    area semana_epidem    densidade
0            1        Adamantina   25  ...  411.99             9    82.268987
1            2            Adolfo   25  ...  211.06             9    16.331849
2            3             Aguaí   25  ...  474.55             9    75.035297
3            4    Águas da Prata   25  ...  142.67             9    54.650592
4            5  Águas de Lindóia   25  ...   60.13             9   305.571262
...        ...               ...  ...  ...     ...           ...          ...
373450  373451        Votorantim   25  ...  183.52            38   652.920663
373451  373452       Votuporanga   25  ...   42.07            38  2181.126694
373452  373453          Zacarias   25  ...  319.06            38     8.023569
373453  373454         Chavantes   25  ...  188.73            38    64.764478
373454  373455      Estiva Gerbi   25  ...   74.14            38   149.433504

[373455 rows x 19 columns]

In [ ]:
covid_sp_alterado['casos_pc'] = covid_sp_alterado['casos_pc'].astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
covid_sp_alterado.dtypes

indice             int64
municipio         object
dia                int64
mes                int64
data              object
casos              int64
casos_novos        int64
casos_pc         float64
casos_mm7d        object
obitos             int64
obitos_novos       int64
obitos_pc         object
obitos_mm7d       object
letalidade        object
pop                int64
pop_60             int64
area             float64
semana_epidem      int64
densidade        float64
dtype: object

In [ ]:
covid_sp_alterado['casos_mm7d'] = covid_sp_alterado['casos_mm7d'].apply(lambda x: x.replace(',','.'))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
covid_sp_alterado['obitos_pc'] = covid_sp_alterado['obitos_pc'].apply(lambda x: x.replace(',','.'))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
covid_sp_alterado['obitos_mm7d'] = covid_sp_alterado['obitos_mm7d'].apply(lambda x: x.replace(',','.'))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
covid_sp_alterado['letalidade'] = covid_sp_alterado['letalidade'].apply(lambda x: x.replace(',','.'))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
covid_sp_alterado.head()

   indice         municipio  dia  ...    area semana_epidem   densidade
0       1        Adamantina   25  ...  411.99             9   82.268987
1       2            Adolfo   25  ...  211.06             9   16.331849
2       3             Aguaí   25  ...  474.55             9   75.035297
3       4    Águas da Prata   25  ...  142.67             9   54.650592
4       5  Águas de Lindóia   25  ...   60.13             9  305.571262

[5 rows x 19 columns]

In [ ]:
covid_sp_alterado['casos_mm7d'] = covid_sp_alterado['casos_mm7d'].astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
covid_sp_alterado['obitos_pc'] = covid_sp_alterado['obitos_pc'].astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
covid_sp_alterado['obitos_mm7d'] = covid_sp_alterado['obitos_mm7d'].astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
covid_sp_alterado['letalidade'] = covid_sp_alterado['letalidade'].astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
covid_sp_alterado.dtypes

indice             int64
municipio         object
dia                int64
mes                int64
data              object
casos              int64
casos_novos        int64
casos_pc         float64
casos_mm7d       float64
obitos             int64
obitos_novos       int64
obitos_pc        float64
obitos_mm7d      float64
letalidade       float64
pop                int64
pop_60             int64
area             float64
semana_epidem      int64
densidade        float64
dtype: object

In [ ]:
covid_sp_alterado['data'] = covid_sp_alterado['data'].astype('datetime64[D]')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
covid_sp_alterado.dtypes

indice                    int64
municipio                object
dia                       int64
mes                       int64
data             datetime64[ns]
casos                     int64
casos_novos               int64
casos_pc                float64
casos_mm7d              float64
obitos                    int64
obitos_novos              int64
obitos_pc               float64
obitos_mm7d             float64
letalidade              float64
pop                       int64
pop_60                    int64
area                    float64
semana_epidem             int64
densidade               float64
dtype: object

## **Salvando (Exportando) o Dataframe Tratado**

In [ ]:
covid_sp_alterado.to_csv('covid_sp_tratado.csv', sep=';', encoding='utf-8', index = False)